
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f8fb;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-color: #2b7b82;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 14px;
    align-items: center;
    padding-top: 10px;
     position: relative;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #f4b400;
}


.contact-btn {
    border: 2px solid #ffd43b;
    padding: 8px 18px;
    border-radius: 20px;
    color: #ffd43b;
     transition: all 0.3s ease;
}

.contact-btn:hover {
    background-color: #f4b400;
    color: #2b7b82;
}

.hero {
    background-color: #27868f;
    color: white;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    padding-left: 100px;
}

.primary-btn {
    background-color: white;
    color: #0b7c86;
    border: none;
    padding: 12px ;
    border-radius: 25px;
    cursor: pointer;
    padding-left: 30px;
    transition: all 0.3s ease;
} 

.primary-btn:hover {
    background-color: #f4b400;
    color: #000;
    transform: scale(1.05);
}


.phone {
    margin-top: 15px;
    font-size: 14px;
    padding-left: 30px;
}

.hero-image .circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    padding-right: 350px;
    padding-top: 100px;
}
.about {
    justify-content: center;
    text-align: center;
    padding: 80px 200px;
}

.about span {
    color: #f4b400;
}

.about pre {
    margin-top: 20px;
    color: #666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    font-weight: 600;
    font-size: 20px;
}
.trends-section {
    padding: 70px 0;
    background-color: #e9f4f4;
}
.small-title {
    color: #555;
    margin-bottom: 5px;
}

.main-title {
    font-weight: 600;
    margin-bottom: 40px;
}

.main-title span {
    color: #f4b400;
}
.carousel-wrapper {
    max-width: 1100px;
    margin: auto;
}
.carousel-img {
    height: 420px;
    object-fit: cover;
    border-radius: 6px;
}
.custom-caption {
    position: absolute;
    left: 40px;
    bottom: 30px;
    background: white;
    color: #000;
    padding: 18px 22px;
    border-radius: 6px;
    text-align: left;
    width: 280px;
}

.custom-caption p {
    font-size: 13px;
    margin: 0;
    color: #666;
}

.custom-caption h5 {
    font-size: 18px;
    margin-top: 5px;
    font-weight: 600;
}

.carousel-caption {
    background: none;
}
.carousel-indicators button {
    width: 30px;
    height: 3px;
    background-color: #bbb;
    border: none;
}

.carousel-indicators .active {
    background-color: #f4b400;
}


body {
    background-color: #ffffff;
}
.testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 100px 120px;
}
.avatar img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ffc107; 
}
.content {
    max-width: 600px;
}
.label {
    font-size: 14px;
    letter-spacing: 2px;
    color: #999;
    margin-bottom: 20px;
}
.quote {
    font-size: 26px;
    line-height: 1.6;
    color: #222;
    margin-bottom: 25px;
}
.author {
    font-size: 14px;
    color: #666;
}

.name {
    color: #f4b400; 
    font-weight: bold;
}
.footer {
    background-color: #111;
    color: #ccc;
    padding: 90px 120px;
    display: flex;
    justify-content: space-between;
}
.footer-left h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.3;
    color: #fff;
}

.footer-left span {
    color: #f4b400;
}
.footer-right {
    display: flex;
    gap: 80px;
}
.footer-column h4 {
    font-size: 14px;
    letter-spacing: 2px;
    color: #888;
    margin-bottom: 20px;
}

.footer-column p {
    font-size: 14px;
    margin-bottom: 12px;
    color: #ccc;
}
.footer-bottom {
    background-color: #0d0d0d;
    padding: 25px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;
    font-size: 13px;
}
.footer-links a {
    color: #666;
    text-decoration: none;
    margin-left: 20px;
}

.footer-links a:hover {
    color: #f4b400;
}

.card {
    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
img {
    transition: transform 0.4s ease;
}

img:hover {
    transform: scale(1.03);
}
.footer-links a {
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #f4b400;
}
article {
    transition: background 0.3s ease;
}

article:hover {
    background-color: #f4f8fb;
}
